.h1 {
  font-size: 3rem;
  margin: 1rem;
}

.h2 {
  font-size: 2.5rem;
  margin: 1rem;
}

.h3 {
  font-size: 2rem;
  margin: 1rem;
}

.h4 {
  font-size: 1.5rem;
  margin: 1rem;
}

.h5 {
  font-size: 1.3rem;
  margin: 1rem;
}

.h6 {
  font-size: 1rem;
  margin: 1rem;
}

.p-lg {
  font-size: 1.5rem;
  margin: 1rem;
}

.p-md {
  font-size: 1.2rem;
  margin: 1rem;
}

.p-sm {
  font-size: 1rem;
  margin: 1rem;
}

.p-xs {
  font-size: 0.8rem;
  margin: 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-gray {
  color: var(--gray-shade4);
}
