<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../cosmicUI.css">
    <link rel="stylesheet" href="./typography.css" />
  </head>
  <body>
    <div class="">
      <h1 class="h1">Lorem ipsum is dummy text used in laying out print</h1>
      <h2 class="h2">Lorem ipsum is dummy text used in laying out print</h2>
      <h3 class="h3">Lorem ipsum is dummy text used in laying out print</h3>
      <h4 class="h4">Lorem ipsum is dummy text used in laying out print</h4>
      <h5 class="h5">Lorem ipsum is dummy text used in laying out print</h5>
      <h6 class="h6">Lorem ipsum is dummy text used in laying out print</h6>
    </div>

    <div>
        <p class="p-lg">Lorem ipsum is dummy text used in laying out print</p>
        <p class="p-md">Lorem ipsum is dummy text used in laying out print</p>
        <p class="p-sm">Lorem ipsum is dummy text used in laying out print</p>
        <p class="p-xs">Lorem ipsum is dummy text used in laying out print</p>
    </div>

    <div>
        <p class="p-sm text-left">Text align left</p>
        <p class="p-sm text-center">Text align center</p>
        <p class="p-sm text-right">Text align right</p>
    </div>

    <div>
        <h2 class="h2 text-gray">Lorem ipsum is dummy text used in laying out print</h2>
        <p class="p-md text-gray">Lorem ipsum is dummy text used in laying out print</p>
    </div>
  </body>
</html>
