@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

.homepage-content-container {
  margin: 3rem;
  padding: 2.5rem 4rem 4rem 9rem;
}

.homepage-title {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: var(--primary-clr);
}

.homepage-description {
  font-size: 1.3rem;
  max-width: 70%;
  color: var(--secondary-clr);
  line-height: 1.3;
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.icon-resize {
  font-size: 1.5rem;
}

.white {
  background-color: var(--white);
}

.font-clr {
  color: var(--secondary-clr);
}

.btn-custom {
  border: 1px solid var(--secondary-clr);
  color: var(--secondary-clr);
}

.btn-custom:hover {
  border: 1px solid var(--primary-clr);
}

.pri-clr{
  color: var(--secondary-clr);
}

.light{
  color: var(--light-clr);
}