<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div>
        <div class="inp-container">
          <label class="inp-label inp-label-required" for=""
            >Email address</label
          >
          <input class="inp" placeholder="Enter email address" />
        </div>

        <div class="inp-container">
          <label class="inp-label" for="">Textarea input</label>
          <textarea
            class="inp"
            placeholder="Enter text here"
            name=""
            id=""
            cols="30"
            rows="10"
          ></textarea>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div class="inp-container">
          <label class="inp-label inp-label-required" for="">Username</label>
          <input class="inp" placeholder="Enter email address" />
        </div>

        <div class="inp-container">
          <label class="inp-label inp-label-required" for="">Password</label>
          <input class="inp" placeholder="Enter text here" />
        </div>

        <div class="inp-container">
          <input type="checkbox" />
          <label class="inp-label-required"
            >Yes, I accept the Cosmic UI terms & policy</label
          >
        </div>

        <button class="form-btn">Submit</button>
      </div>
    </section>
  </body>
</html>
