<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    <section>
      <div class="container">
        <img
          class="avatar xl"
          src="https://semantic-ui.com/images/avatar2/large/elyse.png"
        />
        <img
          class="avatar lg"
          src="https://semantic-ui.com/images/avatar2/large/matthew.png"
        />
        <img
          class="avatar md"
          src="https://semantic-ui.com/images/avatar2/large/kristy.png"
        />
        <img
          class="avatar sm"
          src="https://semantic-ui.com/images/avatar2/large/elyse.png"
        />
        <img
          class="avatar xs"
          src="https://semantic-ui.com/images/avatar2/large/matthew.png"
        />
      </div>
    </section>

    <section
      <div class="container">
        <img
          class="avatar xl square"
          src="https://semantic-ui.com/images/avatar2/large/elyse.png"
        />
        <img
          class="avatar lg square"
          src="https://semantic-ui.com/images/avatar2/large/matthew.png"
        />
        <img
          class="avatar md square"
          src="https://semantic-ui.com/images/avatar2/large/kristy.png"
        />
        <img
          class="avatar sm square"
          src="https://semantic-ui.com/images/avatar2/large/elyse.png"
        />
        <img
          class="avatar xs square"
          src="https://semantic-ui.com/images/avatar2/large/matthew.png"
        />
      </div>
    </section>

    <section>
      <div class="container">
        <div class="avatar xl avatar-text">
          <h2>XL</h2>
        </div>
        <div class="avatar lg avatar-text square">
          <h2>LG</h2>
        </div>
        <div class="avatar md avatar-text">
          <h2>MD</h2>
        </div>
        <div class="avatar sm avatar-text square">
          <h2>SM</h2>
        </div>
        <div class="avatar xs avatar-text">
          <h2>XS</h2>
        </div>
      </div>
    </section>
  </body>
</html>
