<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast</title>
    <link rel="stylesheet" href="../cosmicUI.css" />
    <script
      src="https://kit.fontawesome.com/cbde1196cc.js"
      defer
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="toast d-flex btn btn-success">
        <p>Success text</p>  
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="toast d-flex btn btn-danger">
        <p>Error text</p>
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="toast d-flex btn btn-info">
        <p>Info text</p>
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="toast d-flex btn btn-warning">
        <p>Warning text</p>
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
  </body>
</html>
