@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

@import 'https://fonts.gstatic.com';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';

@import "./alert/alert.css";
@import "./avatar/avatar.css";
@import "./badge/badge.css";
@import "./button/button.css";
@import "./cards/cards.css";
@import "./image/image.css";
@import "./input/input.css";
@import "./navigation/navbar.css";
@import "./list/list.css";
@import "./typography/typography.css";
@import "./modal/modal.css";
@import "./toast/toast.css";
@import "./rating/rating.css";
@import "./utility.css";

html {
  scroll-behavior: smooth;
}

body {
  color: var(--font-clr);
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #FFC900;
  --light-primary-clr: #c7d7ca;
  --dark-primary-clr: #FF9F00;

  --secondary-clr: #AAA492;

  --bg-clr: #f6f5fb;
  --light-bg-clr: #ffffff;

  --success-pri-clr: #c5f7dc;
  --success-sec-clr: #3ac279;
  --success-dark-clr: #064635;

  --warning-pri-clr: #ffe8c3;
  --warning-sec-clr: #e89f29;
  --warning-dark-clr: #664d03;

  --info-pri-clr: #cde2ff;
  --info-sec-clr: #3d84e5;
  --info-dark-clr: #084298;

  --error-pri-clr: #ffcfcb;
  --error-sec-clr: #e9594c;
  --error-dark-clr: #842029;

  --custom-pri-clr: #e9e9eb;
  --custom-sec-clr: #707683;
  --custom-dark-clr: #41464b;

  --gray-shade1: #393d3d;
  --gray-shade2: #555555;
  --gray-shade3: #6a6e6e;
  --gray-shade4: #838686;
  --gray-shade5: #C9CCD5;

  --sky-blue: #32c1cd;


  --border-clr: #f0f0f0;
  --light-clr: white;
  --red: #db1e1b;
  --ecommerce-btn-clr: #333333;
  --font-clr: #3E4152;
}