<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../avatar/avatar.css" />
    <link rel="stylesheet" href="../cosmicUI.css">
    <link rel="stylesheet" href="../utility.css">
    <link rel="stylesheet" href="./list.css" />
  </head>
  <body>
    <div>
      <ul class="list list-style-none">
        <li>Mango</li>
        <li>Apple</li>
        <li>Orange</li>
        <li>Grape</li>
      </ul>
    </div>

    <div>
      <ul class="list d-flex list-style-none">
        <li>Mango</li>
        <li>Apple</li>
        <li>Orange</li>
        <li>Grape</li>
      </ul>
    </div>

    <div>
      <ul class="stacked-list list-style-none">
        <li class="d-flex list-item">
          <img
            class="avatar xs"
            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
            alt="avatar"
          />
          <div class="d-flex list-content">
            <h4>Jammy</h4>
            <small>online</small>
          </div>
        </li>
        <li class="d-flex list-item">
          <img
            class="avatar xs"
            src="https://semantic-ui.com/images/avatar2/large/kristy.png"
            alt="avatar"
          />
          <div class="d-flex list-content">
            <h4>Rishi</h4>
            <small>offline</small>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
