<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
    <link rel="stylesheet" href="../cosmicUI.css" />
    <script
      src="https://kit.fontawesome.com/cbde1196cc.js"
      defer
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div>
      <label>
        <input class="rating-star-inp" type="checkbox" checked disabled />
        <i class="fa-solid fa-star rating-star-icon"></i>
      </label>
      <label>
        <input class="rating-star-inp" type="checkbox" checked disabled />
        <i class="fa-solid fa-star rating-star-icon"></i>
      </label>
      <label>
        <input class="rating-star-inp" type="checkbox" checked disabled />
        <i class="fa-solid fa-star rating-star-icon"></i>
      </label>
      <label>
        <input class="rating-star-inp" type="checkbox" checked disabled />
        <i class="fa-solid fa-star rating-star-icon"></i>
      </label>
      <label>
        <input class="rating-star-inp" type="checkbox" checked disabled />
        <i class="fa-solid fa-star rating-star-icon"></i>
      </label>
    </div>
  </body>
</html>
