<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="badge.css" />
    <link rel="stylesheet" href="../avatar/avatar.css" />
    <title>Badge</title>
  </head>
  <body>
    <section>
      <div class="badge-main-container">
        <div class="badge-container">
          <img
            class="avatar lg"
            src="https://semantic-ui.com/images/avatar2/large/elyse.png"
          />
          <span class="badge profile-lg badge-lg status-online"></span>
        </div>
        <div class="badge-container">
          <img
            class="avatar md"
            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
          />
          <span class="badge profile-md badge-lg status-offline"></span>
        </div>
        <div class="badge-container">
          <img
            class="avatar md"
            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
          />
          <span class="badge profile-md badge-lg status-online"></span>
        </div>
        <div class="badge-container">
          <img
            class="avatar xs"
            src="https://semantic-ui.com/images/avatar2/large/kristy.png"
          />
          <span class="badge profile-xs badge-sm status-away"></span>
        </div>
      </div>
    </section>

    <section>
      <div class="badge-main-container">
        <div class="badge-container">
          <button class="badge-btn">Action</button>
          <span class="badge notification-left-badge badge-lg">8</span>
        </div>

        <div class="badge-container">
          <img src="../icons/home.png" alt="home icon">
          <span class="badge notification-right-badge badge-lg">7</span>
        </div>

        <div class="badge-container">
          <img src="../icons/bell.png" alt="home icon">
          <span class="badge notification-right-badge badge-lg">5</span>
        </div>

        <div class="badge-container">
          <img src="../icons/shopping-cart.png" alt="home icon">
          <span class="badge notification-right-badge badge-lg">2</span>
        </div>

        <div class="badge-container">
          <img src="../icons/email.png" alt="home icon">
          <span class="badge notification-right-badge badge-lg">4</span>
        </div>

        <div class="badge-container">
          <button class="badge-btn">Hide</button>
          <span class="badge notification-right-badge badge-lg">9</span>
        </div>

      </div>

    </section>
  </body>
</html>
