.badge-container {
  position: relative;
}

.badge {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  border: 2px solid white;
}

.profile-lg {
  bottom: 6px;
  right: 15px;
}

.profile-md {
  bottom: 5px;
  right: 7px;
}

.profile-xs {
  bottom: 3px;
  right: 1px;
}

.status-online{
  background-color: #4eb862;
}

.status-offline{
  background-color: #ed4245;
}

.status-away{
  background-color:  #ffc900;
}

.badge-lg {
  width: 1.2rem;
  height: 1.2rem;
}

.badge-sm {
  width: 0.6rem;
  height: 0.6rem;
}

.badge-btn {
  background-color: #3f51b5;
  padding: 0.6rem 0.8rem;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  color: white;
  margin-left: 4px;
}

.notification-left-badge{
  background-color:#DB1E1B;
  border: 0;
  top: -9px;
  left: -2px;
}

.notification-right-badge{
  background-color:#DB1E1B;
  border: 0;
  top: -9px;
  right: -7px;
}
