<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="badge.css" />
    <link rel="stylesheet" href="../avatar/avatar.css" />
    <title>Badge</title>
  </head>
  <body>
    <section>
      <div class="badge-main-container">
        <div class="badge-container">
          <img
            class="avatar lg"
            src="https://semantic-ui.com/images/avatar2/large/elyse.png"
          />
          <span class="status-badge profile-lg badge-lg online"></span>
        </div>
        <div class="badge-container">
          <img
            class="avatar md"
            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
          />
          <span class="status-badge profile-md badge-lg offline"></span>
        </div>
        <div class="badge-container">
          <img
            class="avatar md"
            src="https://semantic-ui.com/images/avatar2/large/matthew.png"
          />
          <span class="status-badge profile-md badge-lg online"></span>
        </div>
        <div class="badge-container">
          <img
            class="avatar xs"
            src="https://semantic-ui.com/images/avatar2/large/kristy.png"
          />
          <span class="status-badge profile-xs badge-sm away"></span>
        </div>
      </div>
    </section>
  </body>
</html>
