.title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.subtitle{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.small-title{
    font-size: 1.75rem;
    margin-bottom: 0.8rem;
}

.para{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}