.inner-container {
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-clr);
}

.customThemeBox {
  box-shadow: 0 3px 13px -6px #ccc, 3px 0 10px -6px #ccc;
  border-radius: 8px;
}

.code-container {
  width: 96%;
  height: 15rem;
  outline: none;
}

.box-container {
  width: 96%;
  border: 2px solid var(--border-clr);
  padding: 2rem 0;
}

.pd-2 {
  padding: 2rem;
}

/* main content container of Docs */

.main-container {
  width: 80%;
  background-color: var(--light-bg-clr);
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}
