.sidebar {
  width: 19%;
  height: 40rem;
  background-color: var(--light-bg-clr);
  position: sticky;
  top: 0;
}

.drawer-title {
  margin: 2rem 0 1rem 2.5rem;
}

.list-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.025rem;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.8rem 0 0.8rem 2.8rem;
}

.list-item:hover {
  background-color: var(--bg-clr);
}

.list-item-link{
  text-decoration: none;
}

.font-blue-clr{
  color: var(--font-clr);
}
