<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="../cosmicUI.css" />
    <script
      src="https://kit.fontawesome.com/cbde1196cc.js"
      defer
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="modal">
      <div class="mb-1">
        <h2>Lorem ipsum</h2>
      </div>
      <div class="mb-1">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer.
        </p>
      </div>
      <div class="modal-footer d-flex mb-1">
        <button class="btn btn-secondary">Close</button>
        <button class="btn btn-secondary">Continue!</button>
      </div>
      <i class="fa-solid fa-xmark dismiss-card"></i>
    </div>
  </body>
</html>
