<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <title>Alerts</title>
  </head>
  <body>
    <section>
      <div class="alert-container">
        <div class="alert alert-success">
          <div class="alert-content">
            <img class="alert-icon" src="../icons/checked.png" />
            <h3>Success</h3>
          </div>
        </div>

        <div class="alert alert-warning">
          <div class="alert-content">
            <img class="alert-icon" src="../icons/warning.png" />
            <h3>Warning</h3>
          </div>
        </div>

        <div class="alert alert-info">
          <div class="alert-content">
            <img class="alert-icon" src="../icons/information.png" />
            <h3>Information</h3>
          </div>
        </div>

        <div class="alert alert-error">
          <div class="alert-content">
            <img class="alert-icon" src="../icons/error.png" />
            <h3>Error</h3>
          </div>
        </div>

        <div class="alert alert-custom-msg">
          <div class="alert-content">
            <img class="alert-icon" src="../icons/message.png" />
            <h3>Custom message</h3>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
